#gameScreen{
    position:absolute;
    display: block;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-color: #525252
}
#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
button{
    border-radius: 15%;
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
    background-color: rgb(108, 210, 218);
}
button:hover{
    background-color: rgba(108, 211, 218, 0.411)
}
button:focus{
    color: white;
    background-color: black;
}
marquee{ 
    color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}